@import url("https://fonts.googleapis.com/css?family=Noto+Sans");

:root{
    --bar-height: 30px;
}

*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.page{
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 30px;
    height: 100vh;
    background-color: darkmagenta;
    font-family: 'Noto Sans', sans-serif;
    color: #333;
}

.app-footer{
    grid-column: 1 / span 2;
    background-color: darkgray;
}

.panel{
    display: grid;
    grid-template-rows: var(--bar-height) auto;
    height: calc(100vh - 30px);
}

.panel-header{
    background-color: darkgrey;
}

main nav header{
    padding: 6px;
    text-align: center;
}

.panel-body{
    background-color: whitesmoke;
    overflow: auto;
}

.tabs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
}

.ellipsis {
    overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.header-tabs {
    position: relative;
}

.app-footer{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-auto-rows: 30px;
    font-size: 1em;
    padding: 0;
    height: 30px;
}

.footer-fileinfo{
    .ellipsis;
    font-size: inherit;
    margin: 0;
    padding: 0 20px;
    line-height: 1.7em;
}
.footer-current-info{
    display: flex;
    align-items: center;
    grid-column: 2/ span 1;
    padding: 0 20px;
}
.footer-current-info li{
    margin-left: 3em;
}

.toggle-color{
    display: none;
}

label{
    .ellipsis;
	text-align: center;
    padding: 6px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
}








